.App-body {
  min-height: 100%;
  margin: 0 auto;
  margin-top: -3.5em;
  margin-bottom: -2.5em;
}

.App-body::after {
  content: "";
  display: block;
  height: 2.5em;
}

.Body-top {
  height: 3.5em;
  display: block;
}

.App-body-header::before {
  content: "";
  display: block;
  height: 4em;
}

.App-body-header {
  color: #fdfdfd;
  width: 100%;
  /*background-color: #0d2e58;*/
  /*background: linear-gradient(to bottom right, #0d2e58, #ad5de2);*/
  background: linear-gradient(to bottom right, #79ba98, #68917f);
  margin: auto;
}

/*#3e2238*/

.App-body-header::after {
  content: "";
  display: block;
  height: 4em;
}

.App-body-header-container {
  max-width: 60em;
  height: 8em;
  margin: 0 auto;
}

.Title-container{
  float:left;
  width: 70%;
  margin: 0;
}

.Title-name {
  text-align: left;
  font-size: 4em;
  color: #fdfdfd;
  font-weight: 800;
  cursor: pointer;
  transition: 0s 0.15s;
  font-family: "Oswald";
}

.Title-name:active {
  /*color: #0099ff;*/
  color: #ffffff;
  transition: 0s;
}

.Title-desc {
  text-align: left;
  color: #f0f0f0;
  font-weight: 500;
  font-size: 2.2em;
  font-family: "Oswald";
}

.Title-pic {
  float: right;
  width: 10em;
  height: 10em;
  border: 5px #fdfdfd solid;
  border-radius: 5em;
  box-sizing: border-box;
  margin-top: -1em;
}

/*  OLD:
  .App-body-header {
    font-size: 1.3em;
    font-weight: 600;
    max-width: 350px;
    padding-bottom: 4px;
    border-bottom: 1px #d7d7d7 solid;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 250px;
  }*/

.Body-content {
  max-width: 60em;
  margin: auto;
}

.Body-content-column {
  width: 46%;
  padding: 0em 2%;
  float: left;
}

.App-body-title {
  text-align: left;
  padding: 15px 0px;
  font-size: 1.7em;
  font-weight: 800;
  color: #68917f;
  font-family: "Oswald";
}

.App-body-content {
  font-size: 1.1em;
  font-weight: 500;
  text-align: left;
  padding-bottom: 1em;
  border-bottom: 1px #68917f solid;
  color: #333;
}

@media screen and (max-width: 1200px) {
  .App-body {
    max-width: 75%;
  }
}
@media screen and (max-width: 800px) {
  .App-body {
    max-width: 85%;
  }
}

@media screen and (max-width: 500px) {
  .App-body::after {
    height: 190px;
  }
  .App-body {
    max-width: 95%;
    margin-bottom: -190px;
  }
}
