.App-body::before {
  content: "";
  display: block;
  height: 3.5em;
}

.App-body {
  min-height: 100%;
  margin: 0 auto;
  margin-top: -3.5em;
  margin-bottom: -2.5em;
}

.App-body::after {
  content: "";
  display: block;
  height: 10em;
}


@media screen and (max-width: 1200px) {
  .App-body {
    max-width: 75%;
  }
}
@media screen and (max-width: 800px) {
  .App-body {
    max-width: 85%;
  }
}

@media screen and (max-width: 500px) {
  .App-body::after {
    height: 190px;
  }
  .App-body {
    max-width: 95%;
    margin-bottom: -190px;
  }
}
