.App-body::before {
  content: "";
  display: block;
  height: 3.5em;
}

.App-body {
  min-height: 100%;
  margin: 0 auto;
  margin-top: -3.5em;
  margin-bottom: -2.5em;
}

.App-body::after {
  content: "";
  display: block;
  height: 10em;
}

@media screen and (max-width: 500px) {
  .App-body::after {
    height: 15em;
  }
  .App-body {
    margin-bottom: -15em;
  }
}
