.Footer {
  width: 100%;
  height: 2.5em;
  padding-top: 0.25em;
  box-sizing: border-box;
  background-color: #222;
}

.Footer-container {
  font-size: 1.2em;
}

.Footer-social {
  width: 50%;
  text-align: left;
}

.Footer-column {
  display: inline-block;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.Footer-column-wide {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.Footer-link {
  color: #79ba98;
  font-weight: 600;
  text-decoration: none;
  font-family: "Oswald";
  font-size: 1.2em;

  /* Transition */
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Footer-link:hover {
  color: #fdfdfd;
}

.Footer-created {
  text-align: right;
  font-size: 0.8em;
  font-weight: 600;
  color: #68917f;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .Footer-column {
    width: 100%;
  }
  .Footer {
    height: 190px;
  }
}
