.Nav {
  height: 3.5em;
  background-color: #f0f0f0;
  border-bottom: 2px #ddd solid;
}

.Nav-container {
  max-width: 100%;
  margin: 0 auto;
}

.Nav-title {
  float: left;
  color: #222;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 2em;
  font-weight: 400;
  margin-top: 0.1em;
  margin-left: 0.5em;
}

.Nav-menu {
  float: right;
  margin-top: 0.5em;
}

.Nav-link {
  height: 2em;
  width: 4.5em;
  font-size: 1.25em;
  font-weight: 400;
  margin-right: 0.5em;
  cursor: pointer;
  background: none;
  color: #222;
  border: 2px #ddd solid;
  box-sizing: border-box;
}

.Nav-link:hover {
  color: #f0f0f0;
  background-color: #e69437;
  border: none;
}

