.Skills {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #d7d7d7 solid;
  border-top: 1px #d7d7d7 solid;
}

.Skills-list-item {
  display: inline;
  font-size: 1.2em;
  font-weight: 600;
  padding: 21px;
  margin: 0px;
  color: #333;
  cursor: default;
  font-family: "Oswald";

  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
